body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#feed, #chat {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsivo */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    #feed, #chat {
        padding: 10px;
    }
}
